*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	background-color: aliceblue;

}
h1{
	line-height: 30px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
h2{
	margin-top: 9px;
	line-height: 30px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}
p{
	font-family: 'Roboto', sans-serif;
	line-height: 25px;
	font-size: 18px;
}

.main-banner{
	width: 100%;
	float: left;
	position: relative;
	  margin: 36px 0px;
}
.container{
	max-width: 1180px;
	margin: 0 auto;
}
.main-banner-outer-layer{
	width: 100%;
    float: left;
    padding-top: 10px;
    background-color: white;
    padding-left: 100px;
    padding: 40px;
    border-radius: 8px;
  
}
.overall-nav{
	width: 100%;
	float: left;
}
.nav-left{
	width: 48%;
	float: left;
}
.nav-right{
	width: 48%;
	float: right;
}
ul li{
	display: inline-block;
	list-style: none;
	padding-left:30px;
	font-family: 'Roboto', sans-serif;
}
.main-banner-2{
	width: 100%;
	float: left;
	padding-top: 100px;
}
.left-content{
	width: 50%;
    float: left;
    padding-left: 80px;
}
.right-content{
	width: 45%;
	float: right;
	margin-top: 5px;
	
}
.image-banner img{
	width: 100%;
	margin-top: 30px;
}
button{
	    width: 100px;
    padding: 9px;
    border: 1px solid aliceblue;
    border-radius: 5px;
    background-color: #2C75B5;
    color: #fff;
    font-size: 15px;
    margin-top: 14px;
}